venv
staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_static_root
_bots*s
__temp*
__pycache__/
*.py[cod]
.DS_Store
merge.ps1
*.otreezip
bargaining/
bertrand/
common_value_auction/
cournot/
demo/
dictator/
guess_two_thirds/
LICENSE
matching_pennies/
my_public_goods/
my_simple_survey/
payment_info/
prisoner/
public_goods_simple/
requirements_base.txt
survey
traveler_dilemma/
trust/
trust_simple/
volunteer_dilemma/


