{{ block title }} 
    Recycpoly 
{{ endblock }} 
{{ block content }} 

<h2>
    Day {{ player.round_number }} as {{ player.role_own }} role.
</h2>

{{ if player.role_own == 'UC' or player.role_own == 'CH'}}

<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Balance</th>
        <th scope="col">Capacity (C<sub>max</sub> = {{ Constants.UCCmax }})</th>
        {{ if player.role_own == 'UC' }}
        <th scope="col">Generated waste items</th>
        {{ endif }}
        <th scope="col">Items in store</th>
        <th scope="col">Items to handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>{{ player.participant.balance }}</td>
        <td>{{player.participant.capac}}</td>
        <td>{{ Constants.g }}</td>
        <td>{{ player.participant.store }}</td>
        <td>{{ items_to_handle }}</td>        
      </tr>
    </tbody>
  </table>

{{ endif }}

{{ if player.role_own == 'UC' }}
<img src="{{ static 'wst_mngm_demo/UC.png' }}"/>

{{ elif player.role_own == 'CH'}}
<img src="{{ static 'wst_mngm_demo/CH.png' }}"/>

{{ else player.role_own == 'CH'}}
<img src="{{ static 'wst_mngm_demo/RE.png' }}"/>

{{ endif }}

{{ formfields }}

{{ next_button }} 

{{ endblock }} 
