{{ block title }} 
    Recycpoly 
{{ endblock }} 
{{ block content }} 

<h2>
    Day {{ player.round_number }} with a {{ player.role }} role.
</h2>

<p>
    This is an economic goods game with {{ Constants.players_per_group }} players per group,
    a rate of waste item generation of {{ Constants.g }} per round-day per {{'UC'}} role,
    and a total item storage capacity of {{ Constants.UCCmax }} per {{'UC'}} or {{ Constants.CHCmax }} 
    per {{'CH'}}.
    {{ if player.role == 'UC' or player.role == 'CH' }}
        {{ if player.role == 'UC' }}
            Your current capacity is {{ player.participant.capac }}.
        {{ else }}
            Your current capacity is {{ player.participant.capac }}.
        {{ endif }}
    {{ endif }}
</p>

{{ if player.role == 'UC' }}
<img src="{{ static 'wst_mngm_demo/UC.png' }}"/>

{{ elif player.role == 'CH'}}
<img src="{{ static 'wst_mngm_demo/CH.png' }}"/>


{{ endif }}

{{ formfields }}

{{ next_button }} 

{{ endblock }} 
