{{ block title }} 
    Recycpoly 
{{ endblock }} 
{{ block content }} 

<h2>
    Day {{ player.round_number }} with a {{ player.role_own }} role.
</h2>

<p>
    This is an economic goods game with {{ Constants.players_per_group }} players per group,
    a rate of waste item generation of {{ Constants.g }} per round-day per {{'UC'}} role,
    and a total item storage capacity of {{ Constants.UCCmax }} per {{'UC'}} or {{ Constants.CHCmax }} 
    per {{'CH'}}.
    {{ if player.role_own == 'CH' }}
        You currently have {{ player.participant.store }} item(s) in store and your balance is {{ player.participant.balance }}.
    {{ endif }}
    {{ if player.role_own == 'UC' }}
        You currently have {{ player.participant.store }} item(s) in store and thus need to handle {{ items_to_handle }} items. 
        Your current balance is {{ player.participant.balance }}
    {{ endif }}
</p>

{{ if player.role_own == 'UC' }}
<img src="{{ static 'wst_mngm_demo/UC.png' }}"/>

{{ elif player.role_own == 'CH'}}
<img src="{{ static 'wst_mngm_demo/CH.png' }}"/>

{{ else player.role_own == 'CH'}}
<img src="{{ static 'wst_mngm_demo/RE.png' }}"/>

{{ endif }}

{{ formfields }}

{{ next_button }} 

{{ endblock }} 
