{{ block title }} 
    Recycpoly 
{{ endblock }} 
{{ block content }} 

<h2>
    Day {{ player.round_number }} as {{ player.role_own }} role.
</h2>

{{ if player.role_own == 'UC' or player.role_own == 'CH'}}
<br>
<table class="table overview-table">
    <thead>
      <tr>
        <th scope="col">Balance</th>
        <th scope="col">Capacity (C<sub>max</sub> = {{ if player.role_own == 'UC' }}{{ Constants.UCCmax }}{{ else }}{{ Constants.CHCmax }}{{ endif }})</th>
        {{ if player.role_own == 'UC' }}
          <th scope="col">Survival costs</th>
          <th scope="col">Generated waste items</th>
        {{ endif }}
        <th scope="col">Items in store</th>
        {{ if player.role_own == 'UC' }}
          <th scope="col">Items to handle</th>
        {{ endif }}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ player.participant.balance }}</td>
        <td>{{ player.participant.capac }}</td>
        {{ if player.role_own == 'UC' }}
          <td>{{ SurvivalCosts }}</td>
          <td>{{ Constants.g }}</td>
        {{ endif }}
        <td>{{ player.participant.store }}</td>
        {{ if player.role_own == 'UC' }}
          <td>{{ items_to_handle }}</td>
        {{ endif }}
      </tr>
    </tbody>
  </table>
<br>
{{ endif }}

{{ if player.role_own == 'UC' }}
<img src="{{ static 'wst_mngm_demo/UC.png' }}"/>

{{ elif player.role_own == 'CH'}}
<img src="{{ static 'wst_mngm_demo/CH.png' }}"/>

{{ comment }}
{{ else player.role_own == 'CH'}}
<img src="{{ static 'wst_mngm_demo/RE.png' }}"/> <br> <br>
{{ endcomment }}

{{ endif }}

{{ if group.treatmentLearnMore }}
<br><br>
<button type="button" onclick="openPopup()" class="btn btn-primary">Learn more on how to play optimally.</button>
<br><br>
{{ endif }}

{{ formfields }}

{{ next_button }}

<div class="fadeMe" id="grayOut" style="display: none"></div>
<div class="popup" id="popupBox" style="display: none">
  {{ if player.role_own == 'UC' }}
    UC text
  {{ else }}
    CH text
  {{ endif }}
  <br><br>
  <button type="button" onclick="closePopup()" class="btn btn-primary">Close</button>
</div>

<input type="hidden" name="use_hint" id="use_hint" value="0">

{{ endblock }}

{{ block styles }}
<style>
    .overview-table {
        border-collapse: collapse;
        width: 100%;
    }
    .overview-table td, .overview-table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .overview-table tr:nth-child(odd){
        background-color: #f2f2f2;
    }

    .overview-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #5C933F;
        color: white;
    }

    div.fadeMe {
        opacity:    0.5;
        background: #000;
        width:      100%;
        height:     100%;
        z-index:    10;
        top:        0;
        left:       0;
        position:   fixed;
    }

    div.popup {
        position: fixed;
        left: 50%;
        top: 50%;
        width: 400px;
        height: 300px;
        margin-left: -200px;
        margin-top: -150px;
        background: #ffffff;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
        padding: 20px;
        z-index: 11;
        text-align: center;
    }
</style>
{{ endblock }}

{{ block scripts }}
<script>
  let treatmentPopUp = js_vars.treatmentPopUp;

  window.onload = function() {
    if (treatmentPopUp) {
      setTimeout(function() {
        document.getElementById("grayOut").style.display = "block";
        document.getElementById("popupBox").style.display = "block";
        }, 2*1000);
    }
  };

  function openPopup() {
    document.getElementById("grayOut").style.display = "block";
    document.getElementById("popupBox").style.display = "block";
    document.getElementById("use_hint").value = true;
  }

  function closePopup() {
    document.getElementById("grayOut").style.display = "none";
    document.getElementById("popupBox").style.display = "none";
  }
</script>
{{ endblock }}