{{ block title }} 
    Recycpoly 
{{ endblock }} 
{{ block content }} 

<h2>
    Day {{ player.round_number }} as {{ player.role_own }} role.
</h2>

{{ if player.role_own == 'UC' or player.role_own == 'CH'}}
<br>
<table class="table overview-table">
    <thead>
      <tr>
        <th scope="col">Balance</th>
        <th scope="col">Capacity (C<sub>max</sub> = {{ if player.role_own == 'UC' }}{{ Constants.UCCmax }}{{ else }}{{ Constants.CHCmax }}{{ endif }})</th>
        {{ if player.role_own == 'UC' }}
          <th scope="col">Survival costs</th>
          <th scope="col">Generated waste items</th>
        {{ endif }}
        <th scope="col">Items in store</th>
        {{ if player.role_own == 'UC' }}
          <th scope="col">Items to handle</th>
        {{ endif }}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ player.participant.balance }}</td>
        <td>{{ player.participant.capac }}</td>
        {{ if player.role_own == 'UC' }}
          <td>{{ SurvivalCosts }}</td>
          <td>{{ Constants.g }}</td>
        {{ endif }}
        <td>{{ player.participant.store }}</td>
        {{ if player.role_own == 'UC' }}
          <td>{{ items_to_handle }}</td>
        {{ endif }}
      </tr>
    </tbody>
  </table>
<br>
{{ endif }}

{{ if player.role_own == 'UC' }}
<img src="{{ static 'wst_mngm_main/UC.png' }}"/>

{{ elif player.role_own == 'CH'}}
<img src="{{ static 'wst_mngm_main/CH.png' }}"/>

{{ comment }}
{{ else player.role_own == 'CH'}}
<img src="{{ static 'wst_mngm_main/RE.png' }}"/> <br> <br>
{{ endcomment }}

{{ endif }}

{{ if group.treatmentLearnMore }}
<br><br>
Learn <a href="{{ static 'wst_mngm_main/DetailedGamePlayInstructions.html' }}" target="_blank" onclick="saveClick()">more</a> on how to play optimally.
{{ comment }}
<button type="button" onclick="openPopup()" class="btn btn-primary">Learn more on how to play optimally.</button>
{{ endcomment }}
<br><br>
{{ endif }}

{{ if player.role_own == "UC" }}
  {{ formfield 'actionSUC' }}
  {{ formfield 'actionPP' }}
  {{ formfield 'priceUC' }}
  {{ comment }}
  {{ formfield 'actionD' }}
  {{ endcomment }}

{{ else }}
  {{ formfield 'actionBCH' }}
  {{ formfield 'priceCH' }}
{{ endif }}

{{ next_button }}


{{ comment }}
<div class="slidecontainer">
{{ if player.role_own == 'UC' }}
  <input type="range" id="items_to_handle" name="items_to_handle" min="0" max="5" class="slider"> &nbsp; <span id="items_to_handle">&nbsp;</span>
{{ endif }}
</div>
{{ endcomment }}

<div class="fadeMe" id="grayOut" style="display: none"></div>
<div class="popup" id="popupBox" style="display: none">
  {{ if player.role_own == 'UC' and group.treatmentPopUp }}
    {{ PopUpUCOut }}
  {{ endif }}
  {{ if player.role_own == 'CH' and group.treatmentPopUp }}
    {{ PopUpCHOut }}
  {{ endif }}
  <br><br>
  <button type="button" onclick="closePopup()" class="btn btn-primary">Close</button>
</div>
<input type="hidden" name="use_hint" id="use_hint" value="0">

{{ endblock }}

{{ block styles }}
<style>
    .overview-table {
        border-collapse: collapse;
        width: 100%;
    }
    .overview-table td, .overview-table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .overview-table tr:nth-child(odd){
        background-color: #f2f2f2;
    }

    .overview-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #5C933F;
        color: white;
    }

    div.fadeMe {
        opacity:    0.5;
        background: #000;
        width:      100%;
        height:     100%;
        z-index:    10;
        top:        0;
        left:       0;
        position:   fixed;
    }

    div.popup {
        position: fixed;
        left: 50%;
        top: 50%;
        width: 400px;
        height: 300px;
        margin-left: -200px;
        margin-top: -150px;
        background: #ffffff;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
        padding: 20px;
        z-index: 11;
        text-align: center;
    }
/*
  .slidecontainer {
   width: 100%;
    }
    .slider {
      -webkit-appearance: none;
      width: 25%;
      height: 15px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    .slider:hover {
      opacity: 1;
    }
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #0d6efd;
      cursor: pointer;
    }
    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #0d6efd;
      cursor: pointer;
    }*/   
</style>
{{ endblock }}

{{ block scripts }}
<script>
  let treatmentPopUp = js_vars.treatmentPopUp;

  window.onload = function() {
    if (treatmentPopUp) {
      setTimeout(function() {
        document.getElementById("grayOut").style.display = "block";
        document.getElementById("popupBox").style.display = "block";
        }, 2*1000);
    }
  };

  function openPopup() {
    document.getElementById("grayOut").style.display = "block";
    document.getElementById("popupBox").style.display = "block";
    document.getElementById("use_hint").value = true;
  }

  function saveClick() {
    document.getElementById("use_hint").value = true;
  }

  function closePopup() {
    document.getElementById("grayOut").style.display = "none";
    document.getElementById("popupBox").style.display = "none";
  }
/*
  var slider_var = document.getElementById("items_to_handle");

slider_var.oninput = function() {
  var choice = this.value;
  document.getElementById("items_to_handle").innerHTML = choice;
}*/
</script>
{{ endblock }}